/* Global Styles */

h2 {
    color: #004346;
}

h3 {
    color: #037971;
}


/* Page 2 Styles */

body {
  background-color: #FBF5F3;
}

nav {
  background-color: #C4D4CD;
}

nav a {
  text-decoration: none;
  padding-right: 10px;
}

#page-2-font {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #172A3A;
}

#page-2-font p {
    width: 800px;
}

#family h3 {
  margin-top: 0;
}

#family p {
    margin: 20px 0 40px 0;
}

#page-2-footer {
    background-color: #C4D4CD;
}

#page-2-main p{
    width: 800px;
}

/* Page 2 Picture formatting */
img {
  width: 800px;
  height: auto;
}